Protocol 2
Port 22
PubkeyAuthentication yes
PasswordAuthentication no
AllowTcpForwarding no
X11Forwarding no
AllowUsers root
PrintMotd no
IgnoreUserKnownHosts yes
PermitRootLogin yes
PermitEmptyPasswords no