
simtune-ffmakernel-4096-512/
simtune-ffmakernel-4096-768/
simtune-ffmakernel-4096-1024/
simtune-ffmakernel-256-8192-80/

simtune-ffmakernel-large*
simtune-ffmakernel-large-large*
simtune-pointerchasing-*/
rodinia*/
dataset_debug/