.*.swp
*.test
*.coverprofile
*.prof
*.png
*.log
*.svg
*.exe
*.out
debug
*.csv
*.sqlite3-journal
*.sqlite3
*~
*.debug
*.trace
*.disasm
.ropeproject
__pycache__
*.html
*.atp
*.swo
*.o

*.orig.bc
.idea
vendor
.DS_Store
*.json
__debug_bin

samples/**/metrics.csv

test
# Generated mocks (created via go:generate mockgen)
**/mock_*_test.go

.history
