name: MGPUSim Test

on: [push, pull_request]

jobs:
  compile:
    name: Compile
    runs-on: Github-Large-1
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Build
        run: go build ./...

  lint:
    name: Lint
    runs-on: Github-Large-1
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: "latest"
          args: --timeout=10m
          skip-cache: true

  unit_test:
    name: Unit Test
    runs-on: Github-Large-1
    needs: [compile, lint]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Install Ginkgo
        run: go install github.com/onsi/ginkgo/v2/ginkgo

      - name: Unit Test
        run: ginkgo -r

  deterministicity_test:
    name: Deterministicity Test
    runs-on: Github-Large-1
    needs: [unit_test]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run Deterministicity Test
        run: python test.py
        working-directory: amd/tests/deterministic/

  single_gpu_acceptance_test:
    name: Single GPU Acceptance Test
    runs-on: Github-Large-1
    needs: [unit_test]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Run Single GPU Acceptance Test
        timeout-minutes: 60
        run: |
          go build
          ./acceptance -num-gpu=1
        working-directory: amd/tests/acceptance/

  two_discrete_gpu_test:
    name: Two Discrete GPU Test
    runs-on: Github-Large-1
    needs: [single_gpu_acceptance_test]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Run Two Discrete GPU Test
        timeout-minutes: 60
        run: |
          go build
          ./acceptance -num-gpu=2 -no-unified-gpu -no-unified-memory
        working-directory: amd/tests/acceptance/

  four_discrete_gpu_test:
    name: Four Discrete GPU Test
    runs-on: Github-Large-1
    needs: [single_gpu_acceptance_test]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Run Four Discrete GPU Test
        timeout-minutes: 60
        run: |
          go build
          ./acceptance -num-gpu=4 -no-unified-gpu -no-unified-memory
        working-directory: amd/tests/acceptance/

  two_unified_gpu_test:
    name: Two Unified GPU Test
    runs-on: Github-Large-1
    needs: [single_gpu_acceptance_test]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Run Two Unified GPU Test
        timeout-minutes: 60
        run: |
          go build
          ./acceptance -num-gpu=2 -only-unified-gpu -no-unified-memory
        working-directory: amd/tests/acceptance/

  four_unified_gpu_test:
    name: Four Unified GPU Test
    runs-on: Github-Large-1
    needs: [single_gpu_acceptance_test]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Run Four Unified GPU Test
        timeout-minutes: 60
        run: |
          go build
          ./acceptance -num-gpu=4 -only-unified-gpu -no-unified-memory
        working-directory: amd/tests/acceptance/
