html {
    line-height: 1;
}

body {
    line-height: 1;
}

.changed {
    background-color: #ff00aa11;
}

.reg-table {
    font-size: small;
}

.reg-tag-input {
    width: 100px
}

.validation-progress-bar {
    height: 1em;
    width: 100%;
}

.validation-progress-bar div {
    display: inline-block;
    height: 1em;
}

.validated {
    background-color: green;
}

.current-inst {
    border: 1px solid red;
}